*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    text-align: center;
    /* background-color: #c9eaf7d3; */
    background-image: url(https://cdn.pixabay.com/photo/2023/08/06/07/19/field-8172323_1280.jpg);
    background-size: cover;
    /* background-position:left; */
    background-attachment: fixed;
    /* background-size: 100%; */
    /* background-repeat: repeat-y; */
       background-repeat: no-repeat; 
}

main{

width: 60%;
margin: auto;
background-color: rgba(149, 235, 235, 0.342);
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
border: rgba(22, 22, 241, 0.514) 2px solid;
border-radius: 20px;

}
p{
    color: #0b4934;
font-family:'Courier New', Courier, monospace;
font-size: 19px;
font-weight: 600;
/* font-style:oblique */
/* font-stretch:ultra-expanded; */
line-height: 1.5;
/* letter-spacing: 3px; */
/* word-spacing: 2px; */
text-align: justify;
/* text-decoration:underline; */
/* text-transform: capitalize; */
text-indent: 50px;
/* text-shadow: 2px 3px 1px #4040ff; */
text-align: center;


}

h1{ text-align: center;
font-size: 100px;
}

footer p{
    text-decoration: dashed;
}

img  {
    border-radius: 20px;
    
}
